@import '../../node_modules/bootstrap/scss/bootstrap';
@import "./typography";
@import './common';
@import './navbar';

*,
:before,
:after {
  outline: none !important;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  background-color: theme-color("branca");
  font-family: $font-opensans-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 19px;
  color: #393939;
  position: relative;
  height: 100%;
}

h1 {
  @include h1;
  margin: 0;
  z-index: 5;
}

h2 {
  @include h2;
  margin: 0;
  z-index: 5;
}

h3 {
  @include h3;
  margin: 0;
  z-index: 5;
}

.btn-primary {
  background: theme-color("primary");
  border: 1px solid theme-color("primary");
  border-radius: 6px;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  background-color: theme-color("primary");
  border-color: theme-color("primary");
}

a:not([href]) {
  color: theme-color("secundaria");
}

a:hover {
  text-decoration: none;
  color: theme-color("secundaria");
}

img {
  width: 100%;
}

.iBring-hidden {
  display: none;
}

.iBring-strong {
  font-family: $font-opensans-bold;
}

.iBring-justify-content-center {
  @include justify-content(center);
}

.iBring-btnSubmit {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  button {
    width: 183px;
    height: 44px;
    margin: 40px auto;
    border-radius: 12px;
    border: 1px solid theme-color("cinza-botao");
    background-color: theme-color("cinza-botao");
    font-family: $font-opensans-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smooyhing: grayscale;
    color: theme-color("cinza-campoForm");
    text-transform: uppercase;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      border: 1px solid theme-color("primaria");
      background-color: theme-color("primaria");
      color: theme-color("branca");
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.iBring-btnOutline {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  button {
    width: 199px;
    height: 44px;
    margin: 40px auto;
    border-radius: 12px;
    font-family: $font-opensans-bold;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.03em;
    border: 1px solid theme-color("cinza-secundario");
    background-color: transparent;
    color: theme-color("cinza-secundario");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smooyhing: grayscale;

    &:hover,
    &:not(:disabled):not(.disabled):active {
      border: 1px solid theme-color("primaria");
      background-color: transparent;
      color: theme-color("primaria");
    }

    &:focus {
      box-shadow: none;
    }

  }

  &--green {

    button {
      border: 1px solid theme-color("primaria");
      background-color: transparent;
      color: theme-color("primaria");

      &:hover,
      &:not(:disabled):not(.disabled):active {
        border: 1px solid theme-color("primaria");
        background-color: theme-color("quaternaria");
        color: theme-color("primaria");
      }
    }
  }
}

.iBring-btnVoltar {
  margin-bottom: 0.5rem;

  img {
    width: 7px;
    height: 12px;
    margin-right: 10px;
  }

  &__hyperlink {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include hyperlink;
    font-size: 12px;
  }
}

.iBring-btn-icone {
  background-color: transparent;
  border: none;

  &:hover,
  &:not(:disabled):not(.disabled):active {
    background-color: transparent;
    border: none;
  }

  &:focus {
    border: none;
    box-shadow: none;
  }

  &__icoLixeira {
    width: 10px;
    height: 16px;
  }

  &__icoEditar {
    width: 16px;
    height: 16px;
  }

  &__icoCadeado {
    width: 17px;
    height: 17px;
  }

  &__icoAlerta {
    width: 13px;
    height: 13px;
  }

  &__icoAdicionar {
    width: 16px;
    height: 16px;
  }

  &__icoSeta {
    width: 12px;
    height: 12px;
  }

  &__icoMastercard {
    width: 26px;
    height: 26px;
  }

  &__icoVisa {
    width: 26px;
    height: 26px;
  }

  &__icoMoto {
    width: 19px;
    height: 19px;
  }

  &__icoPreco {
    width: 17px;
    height: 17px;
  }

  &__icoRetirada {
    width: 19px;
    height: 19px;
  }

  &__icoPin {
    width: 19px;
    height: 19px;
  }
}