@import './mixin';
@import './theme';

// Folha de estilo: Formulario

.form-control:focus {
  border-color: #A0A0A0;
  box-shadow: none;
}

.was-validated .form-control:valid {
  border-color: #A0A0A0;
  background-image: none;
}

.was-validated .form-control:valid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #A0A0A0;
  box-shadow: none;
}

.was-validated .form-control:invalid {
  background-image: none;
}

.custom-select {
  background: #ffffff url(../img/img-arrow-down.svg) no-repeat right 0.75rem center/14px 8px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.iBring-form {
  input {
    @include label;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    height: 45px;
  }

  label {
    @include label;

    span {
      color: #a0a0a0;
    }
  }

  &__alertaImg {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }

  &__iconEye {
    @include flexbox;
    @include align-items(center);
    position: absolute;
    top: 38px;
    right: 25px;
    width: 30px;
    height: 30px;

    &--hide {
      @include flexbox;
      width: 24px;
      height: 10px;
      background: url(../img/img-eye-closed.svg) center no-repeat;
    }

    &--show {
      @include flexbox;
      width: 25px;
      height: 16px;
      background: url(../img/img-eye-opened.svg) center no-repeat;
    }
  }

  &__checkboxContainer {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: theme-color("cinza-escuro") !important;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    input:checked~.iBring-form__checkboxContainer__checkbox {
      background: theme-color("primaria");
      border-color: theme-color("cinza-botao");
    }

    &__checkbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 19px;
      width: 19px;
      background: theme-color("branca");
      border: 1px solid theme-color("cinza-secundario");
      box-sizing: border-box;
      border-radius: 2px;

      &:after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid theme-color("branca");
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    input:checked~.iBring-form__checkboxContainer__checkbox:after {
      display: block;
    }

    &__termos {
      color: theme-color("primaria");

      &:hover {
        color: theme-color("primaria");
        text-decoration: none;
      }
    }
  }
}